@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --bg-color: #7a98c7;
    --primary-color: #dbe3f3da;
    --secondary-color: #8f75b1d5;
    --tipo-fonte:"Lobster", sans-serif;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--tipo-fonte);
    height: 100vh;
    margin: 0;
}
header{
    background-color: var(--primary-color);
    text-align: center;
    padding: 1px;
}
h1{
    font-size: 2rem;
    color: var(--bg-color);
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}
nav a{
    text-decoration: none;
    color: var(--bg-color);
    margin: 0 2rem 1rem 0rem;
    font-size: 1.2rem;
}
nav a:hover{
    text-decoration: underline;
    transform: scale(0.90);
    transition: transform 0.1s;
}
footer{
    display: flex;/*area do rodape flexivel*/
   align-items: center; /*alinhamento de itens ao centro*/
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--bg-color);
    width: 100%;/*largura ocupando 100% do rodape*/
    height: 3rem;/*altura 3x a medida do root*/
    margin-top: 2rem;/*altura do topo da margemm externa do rodape em 3rem*/
}
